<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <h1><%= title %></h1>
    <form action="users" method="POST">
        <input type="text" name="user" placeholder="usuario" required><br>
        <input type="text" name="pass" placeholder="contraseña" required><br>
        <input type="submit" value="enviar" />
    </form>
</body>
</html>